<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

<style type="text/css">
    .lbl {
        text-align: right;
        width: 100px;
        white-space: nowrap;
    }

    .fld {
        width: 100%;
    }

    .frm {
        display: inline-block;
    }

</style>

</head>
 
<div style="background-image: url('https://images4.alphacoders.com/966/966314.jpg'); background-repeat: no-repeat; background-size: cover; height: 1080px;">
  
 <div class="big" align="center">
 <h1 style="background-color: transparent;">Fetal Health Classifier</h1>
 <h4 style="background-color: transparent;">Enter Cardiotocography exam results below. Then, the algorithm will return a predicted health condition for the fetus.</h4>
 <br>
 <br>
 
  <form action="/result" method="POST">
  
    <legend>Exam Information</legend>
  
  
    <div class="frm">
    <table>
    <tr>
    <td class="lbl"><label for="baseline">Baseline Heartrate</label></td>
      <td><input type="text" id="baseline" name="baseline" value="130"> Between [100-170]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="accelerations">Accelerations</label></td>
      <td><input type="text" id="accelerations" name="accelerations" value="0.01"> Between [0.00-0.03]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="movement">Fetal Movement</label></td>
      <td><input type="text" id="movement" name="movement" value="0.25"> Between [0.00-0.75]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="contractions">Uterine Contractions</label></td>
      <td><input type="text" id="contractions" name="contractions" value="0.01"> Between [0.00-0.03]</td>
    </tr> 
    <tr>  
    <td class="lbl"><label for="decelerations">Light Decelerations</label></td>
      <td><input type="text" id="decelerations" name="decelerations" value="0.01"> Between [0.00-0.03]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="severe">Severe Decelerations</label></td>
      <td><input type="text" id="severe" name="severe" value="0.000"> Between [0.000-0.002]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="prolonged">Prolonged Decelerations</label></td>
      <td><input type="text" id="prolonged" name="prolonged" value="0.001"> Between [0.000-0.006]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="abnormal">Abnormal Short-term Variability</label></td>
      <td><input type="text" id="abnormal" name="abnormal" value="50.0"> Between [10.0-90.0]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="mean">Mean Value of Short-term Variability</label></td>
      <td><input type="text" id="mean" name="mean" value="1.5"> Between [0.0-8.0]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="time">Percentage of Time with Abnormal Long-term Variability</label></td>
      <td><input type="text" id="time" name="time" value="25.0"> Between [0.0-90.0]</td>
    </tr> 
    <tr>
    <td class="lbl"><label for="long">Mean Value of Long-term Variability</label></td>
      <td><input type="text" id="long" name="long" value="10.0"> Between [0.0-60.0]</td>
    </tr>
    
    </table>
    </div>
    
    <div class="frm">
    <table>
    
    <tr>
    <td class="lbl"><label for="width">Histogram Width</label></td>
      <td><input type="text" id="width" name="width" value="75.0"> Between [0.0-180.0]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="min">Histogram Minimum</label></td>
      <td><input type="text" id="min" name="min" value="100.0"> Between [0.0-170.0]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="max">Histogram Maximum</label></td>
      <td><input type="text" id="max" name="max" value="160.0"> Between [100.0-250.0]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="peaks">Histogram Number of Peaks</label></td>
      <td><input type="text" id="peaks" name="peaks" value="7.5"> Between [0.0-18.0]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="zero">Histogram Number of Zeroes</label></td>
      <td><input type="text" id="zero" name="zero" value="2.0"> Between [0.0-10.0]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="mode">Histogram Mode</label></td>
      <td><input type="text" id="mode" name="mode" value="120.0"> Between [50.0-190.0]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="hmean">Histogram Mean</label></td>
      <td><input type="text" id="hmean" name="hmean" value="120.0"> Between [70.0-190.0]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="hmedian">Histogram Median</label></td>
      <td><input type="text" id="hmedian" name="hmedian" value="120.0"> Between [70.0-190.0]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="var">Histogram Variance</label></td>
      <td><input type="text" id="var" name="var" value="50.0"> Between [0.0-275.0]</td>
    </tr>
    <tr>
    <td class="lbl"><label for="tend">Histogram Tendency</label></td>
      <td><select id="tend" name="tend">
      <option value="-1.0">-1.0</option>
      <option value="0.0">0.0</option>
      <option value="1.0">1.0</option>
    </select></td>
    </tr>
    
    
    </table>
    </div>
    
    <br>
    <br>
  
    <input type="submit" value="Submit" class="p-2 mb-3 bg-primary text-white">
  </form>
 </div>
</div>
</body>
</html>